/* title */
div.title {
    color: #ffffff;
    background-color: #696969;
    padding-left: 2%;
    display: flex;
    align-items: center;
}
p.title {
    font-weight: bold;
    font-size: 120%;
}
.section-title{ /* セクションタイトルの横に棒つける */
    display: inline;
    border-left: 10px solid rgb(165, 165, 165);
    border-right: 10px solid rgb(165, 165, 165);
    padding-inline: 10px;
}
.section {
    margin-bottom: 10%;
}

/* body */
body {
    background-color: #dddddd;
}
/* body .no_scroll {
    z-index: 10;
    background-color: #000000;
    overflow: hidden;
} */
div.body {
    overflow-x: hidden;
}

/* subtitle */
h2 {
    text-align: center;
    font-size: xx-large;
}
/* sub-sectiontitle */
h3 {
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
}

/* table */
.table {
    margin: auto;
}
.table-tbody tr:nth-child(2n) {
    background: #d0d0d0;
}
.table-tbody tr:nth-child(2n+1) {
    background: #eeeeee;
}
.table-thead th {
    padding: 10px;
    background: #696969;
    border-right: solid 1px #778ca3;
    color: #ffffff;
}
.table-tbody th:last-child {
    border-right: none;
}
.table-tbody td {
    padding: 10px;
    border-right: solid 1px #778ca3; 
}
.table-tbody td:last-child {
    border-right: none;
}

/* swiper */
.swiper-container {
    position: relative;
}

.swiper--wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 30px;
    margin: 5% 0%;
    overflow: hidden;
    max-width: 100%;
}

/* 自己紹介の画像・テキスト配置(PC用) */
@media screen and (min-width: 500px) {
    .about .introduction_text {
        margin-left: 5%;
    }
    .about img {
        width: 30%;
        height: 30%;
    }
}
/* 自己紹介の画像・テキスト配置(スマホ用) */
@media screen and (max-width: 500px) {
    .about .introduction_text {
        margin-left: 5%;
    }
    .about img {
        width: 100%;
        height: 30%;
    }
}

/* img */
img {
    width: 80%;
    height: 80%;
}

.works img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.works button {
    width: 90%;
    height: 90%;
    border: none;
    background: transparent;
}

dialog {
    min-width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    z-index: 2;
}
.body.active {
    z-index: 1;
    background-color: #383838;
    overflow: hidden;
}

/* ダイアログの閉じるボタン作成 */
.square_btn {
    display: block;
    position: relative;
    width: 3em;
    height: 3em;
    border: 2px solid #333; /* 枠の調整 */
    background: #fff; /* ボタンの背景色 */
    position: absolute;
    right: -0.1%;
    top: -0.1%;
}
.square_btn::before, .square_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1em; /* 棒の幅（太さ） */
    height: 2.5em; /* 棒の高さ */
    background: #333; /* バツ印の色 */
}
.square_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.square_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* ダイアログのアクセスボタン作成 */
.access {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 10px;
}
.access:hover {
    color: red;
    box-shadow: 0 0 10px #383838;
}


.skills img {
    width: 50%;
    height: 50%;
    position: relative;
}
.skills img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
  
.skill-caption {
    position: relative;
    z-index: -1;
}
.skill-caption.hover {
    z-index: 2;
	display: block;
    font-weight: bold;
}

.info ul {
    list-style: none;
    width: fit-content;
    margin: auto;
    font-size: large;
}
.skills .skills-contents:nth-child(odd) {
    text-align: center;
    background-color: #eeeeee;
}
.skills .skills-contents:nth-child(even) {
    text-align: center;
    background-color: #d0d0d0;
}


.skills-contents {
    width: 100%;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    width: 25%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .flexbox {
        display: block;
    }
    .box {
        width: 100%;
        margin: 0 auto;
    }
    .skills img {
        width: 30%;
        height: 30%;
    }
}

.achievements {
    text-align: center;
}
.certifications {
    text-align: center;
}
.thank {
    text-align: center;
}


/* お問い合わせフォーム */
/* PC用 */
@media screen and (min-width: 1050px) {
    #staticform {
        display: block;
        width: 50%;
        margin: auto;
    }
}

/* スマホ・タブレット用 */
@media screen and (max-width: 1050px) {
    #staticform {
        display: block;
        width: 80%;
        margin: auto;
    }
}
.form-element {
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
}

.form-element input {
    width: 50%;
}

.form-element textarea {
    width: 100%;
    height: 90%;
}

.form-element label {
    display: flex;
}


/* page top button */
.space {
    height: 5000px;
}
.page_top {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    color: #6c6c6c;
    background: #fff;
    
    /* デフォルトは非表示 */
    opacity: 0;
}
.page_top:hover {
    box-shadow: 0 0 10px #383838;
}


/* footer */
footer {
    text-align: center;
    color: #ffffff;
    background-color: #696969;
}
.thumbs-container {
    width: fit-content;
}
.thumbs-container ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.thumbs-container li{
    margin-right: 4px;
}
/* PC用 */
@media screen and (min-width: 1050px) {
    .mainImg {
        height: 70vh;
        object-fit: contain;
    }
    img[class*="thumb-"] {
        width: 10vw;
        height: 10vh;
    }
}
/* スマホ・タブレット用 */
@media screen and (max-width: 1050px) {
    .mainImg {
        height: 300px;
        object-fit: contain;
    }
    img[class*="thumb-"] {
        width: 20vw;
        height: 10vh;
    }
}