/* title */
div.title {
    color: #ffffff;
    background-color: #696969;
    padding-left: 2%;
    
    display: flex;
    align-items: center;
}


/* body */
body {
    background-color: #dddddd;
}
div.body {
    overflow-x: hidden;
}

/* subtitle */
h2 {
    text-align: center;
    font-size: xx-large;
}

/* table */
.table {
    margin: auto;
}
.table-tbody tr:nth-child(2n+1) {
    background: #eeeeee;
}
.table-thead th {
    padding: 10px;
    background: #696969;
    border-right: solid 1px #778ca3;
    color: #ffffff;
}
.table-tbody th:last-child {
    border-right: none;
}
.table-tbody td {
    padding: 10px;
    border-right: solid 1px #778ca3; 
}
.table-tbody td:last-child {
    border-right: none;
}

/* swiper */
.swiper-container {
    position: relative;
}

.swiper--wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 30px;
    margin: 5% 0%;
    overflow: hidden;
    max-width: 100%;
}

/* 自己紹介の画像・テキスト配置(PC用) */
@media screen and (min-width: 500px) {
    .about .title {
        font-weight: bold;
        font-size: 120%;
    }
    .about .introduction_text {
        margin-left: 5%;
    }
    .about img {
        width: 30%;
        height: 30%;
    }
}
/* 自己紹介の画像・テキスト配置(スマホ用) */
@media screen and (max-width: 500px) {
    .about .title {
        font-weight: bold;
        font-size: 120%;
    }
    .about .introduction_text {
        margin-left: 5%;
    }
    .about img {
        width: 100%;
        height: 30%;
    }
}

/* img */
img {
    width: 80%;
    height: 80%;
}

.works img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.works button {
    width: 90%;
    height: 90%;
    border: none;
    background: transparent;
}

dialog {
    max-width: 80%;
    overflow-x: hidden;
}

/* ダイアログの閉じるボタン作成 */
.square_btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #333; /* 枠の調整 */
    background: #fff; /* ボタンの背景色 */
    position: absolute;
    right: -0.1%;
    top: -0.1%;
}
.square_btn::before, .square_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px; /* 棒の幅（太さ） */
    height: 27px; /* 棒の高さ */
    background: #333; /* バツ印の色 */
}
.square_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.square_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* ダイアログのアクセスボタン作成 */
.access {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 10px;
}
.access:hover {
    color: red;
    box-shadow: 0 0 10px #383838;
}


.skills img {
    width: 50%;
    height: 50%;
    position: relative;
}

.info ul {
    list-style: none;
    width:fit-content;
    margin: auto;
}
.data-analysis {
    text-align: center;
    background-color: rgb(78, 240, 97);
}
.environment {
    text-align: center;
    background-color: rgb(78, 232, 240);
}
.frontend {
    text-align: center;
    background-color: rgb(240, 78, 78);
}
.backend {
    text-align: center;
    background-color: rgb(83, 89, 255);
}
.others {
    text-align: center;
    background-color: rgb(150, 150, 150);
}


.skills-contents {
    width: 100%;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .flexbox {
        display: block;
    }
    .box {
        width: 100%;
        margin: 0 auto;
    }
    .skills img {
        width: 30%;
        height: 30%;
    }
}

.achievements {
    text-align: center;
}
.certifications {
    text-align: center;
}
.thank {
    text-align: center;
}


/* お問い合わせフォーム */
/* PC用 */
@media screen and (min-width: 1050px) {
    #staticform {
        display: block;
        width: 50%;
        margin: auto;
    }
}

/* スマホ・タブレット用 */
@media screen and (max-width: 1050px) {
    #staticform {
        display: block;
        width: 80%;
        margin: auto;
    }
}
.form-element {
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
}

.form-element input {
    width: 50%;
}

.form-element textarea {
    width: 100%;
    height: 90%;
}

.form-element label {
    display: flex;
}


/* page top button */
.space {
    height: 5000px;
}
.page_top {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    color: #6c6c6c;
    background: #fff;
    
    /* デフォルトは非表示 */
    opacity: 0;
}
.page_top:hover {
    box-shadow: 0 0 10px #383838;
}


/* footer */
footer {
    text-align: center;
    color: #ffffff;
    background-color: #696969;
}